# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.env
.env.*
.wwebjs_auth/

*.txt

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# OS generated
.DS_Store
Thumbs.db

# VSCode
.vscode/

.wwebjs_cache/
